@media (max-width: 600px) {
    body {
      font-size: 12px;
    }

    .menu {
        display: none;
    }

    .upper-header {
        width: 100vw;
    }

    .main-menu {
        width: 100vw;
    }

    .form-group-parent {
        display: none;
    }
  }

  

  @media (min-width: 1024px) {


    img[src="category.png"] {
        display: none;
    }
  }